div{
    position: relative;
    top: 100px; 
    left: 250px;
    width: 100px;
    height: 200px;
    background-color: blue;
}

div:hover
{
    transition: rotate 2s, background-color 2s;
    rotate: 90deg;
    background-color: red;
}